.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.env

# Datos (gestionados por DVC, no por Git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/*.dvc
!data/raw/.gitignore

models/*
!models/.gitkeep